.search-area{
  display:flex;
  align-items:center;
  gap:0.4rem;
  white-space:nowrap;
}

.search-area label{
  font-size:0.7rem;
  color:var(--text-muted);
}

#searchInput{
  padding:0.25rem 0.5rem;
  font-size:0.8rem;
  border-radius:3px;
  border:1px solid #374151;
  background:#020617;
  color:var(--text-main);
}

#searchBtn{
  font-family:'DotGothic16', sans-serif;
  font-size:0.8rem;
  padding:0.3rem 0.6rem;
  border-radius:3px;
  border:1px solid var(--accent);
  background:#020617;
  color:var(--accent);
  transition:all 0.2s ease;
  cursor:pointer;
}

#searchBtn:hover{
  background:var(--accent);
  color:#020617;
}
